/* CSS files add styling rules to your content */
.table-bordered{border-collapse:separate;}
td.on:hover{border:1px solid black; cursor:pointer;}
th.on:hover{background-color:lightGreen; cursor:pointer;}
table#ocalendar td.crossed{
  background-image: linear-gradient(to bottom right,  transparent calc(50% - 1px), red, transparent calc(50% + 1px));
}
b:hover {
  text-decoration: underline;
  cursor: default;
}
th{
  font-size: calc(12px + (16 - 12) * ((100vw - 300px) / (1600 - 300)));
}
tbody#calendar-body td{
  padding: 1.5vw;
  font-size: calc(12px + (16 - 12) * ((100vw - 300px) / (1600 - 300)));
}
